.title{
  text-align: center;
  font-family: fantasy;
}

li{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: large;
  font-family: sans-serif;
}

.game{
  background-color: yellow;
}

h1{
  border: 20px solid orange;
  background-color: blue;
  color: white;
}

.bazinga{
  text-align: center;
}

.bazinga2{
  text-align: center;
  font-size: large;
  font-family: arial;
}

h2{
  text-shadow: 2px 2px yellow;
  font-family: Times
}

body{
  background-color: orangered;
}

.cool{
  border: 10px solid yellow;
}